@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #1E3A8A;
  --color-secondary: #0F766E;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8fafc;
  color: #0f172a;
}
